.jumbotron {
  text-align:center;
}
.jumbotron li {
  float: left;
  list-style-type: none;
  margin-top: 1%;
  margin-left: 18%;
  padding-left: 2%;
}
.jumbotron li:hover {
  color:red;
  cursor: pointer;
}
.col-md-4 {
  float: left;
  text-align: center;
  width: 1000px;
  height: 200px;
  background-color: grey;
  color: white;
}

.col-md-4 p {
  margin-top: 20%;
  font-size: 50px;
}
.form-control {
  width: 25%;
  margin-bottom: 1%
}

h4 {
  text-align: center;
}

.restart {
  margin-top: 2%;
  margin-left: 45%;
}
